<div class="container">
  <p id="notice"><%= notice %></p>

<h1>Offices#index</h1>
<p>Find me in app/views/offices/index.html.erb</p>

<% @offices.each do |office| %>
<%= office.user.first_name %>
  <% if office.photos.attached? %>
    <% office.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
  <% end %>

<p>is browsing offices in:</p>
<h2><%= link_to office.city, office_path(office) %></h2>
<% end %>
</div>
