.main_container {
  display: flex;
}

.box {
  width: 100%;
  padding: 20px;
}

.margin-top {
  margin-top: 60px;

}


.dashbaord-option{
  padding: 20px 20px;
  width: 130px;
  margin: 0;
}

.dashbaord-option:hover {
  background-color: #F4F4F4;
}

.outsidebox {
  display: flex;
}

.dashboard-nav {
  background-color: #FFC65A;
  width: 130px;
}

#v-pills-tab {
    height: calc(100vh - 70px);
}

#v-pills-home {
  padding: 20px 40px;
}

#v-pills-profile {
  padding: 20px 40px;
}

.dashboard-card {
 height: 250px;
 // width: 300px;
 img {
  width: 300px;
 }
}

.dashboard-nav .nav-link {
  padding: 30px 5px;
}

.dashboard-card {
  height: 220px;
  width: 750px;

  .card-product-infos{
    margin-left: 20px;
    p {
  font-size: 15px;
}


  }
}

.no-offices-text {
  margin-left: 8px;
  margin-bottom: 15px;
}

.btn-dashboard {
  font-size: smaller;
}

.dashboard_h2 {
  a {
  font-size: 22px;
  }
}


