.bannertwo {

  background-image: url("https://cdn.hipwallpaper.com/i/81/61/H7xaj8.jpg");
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  padding-top:20px;
}

.bannertwo h1 {
  margin:0;
}
