// Specific CSS for your home-page
.searchbars {
  margin-top: 20px;
  width: 60%;
}

.banner {
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  padding: 150px 0;
  height: 100vh;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;

}

.banner p {
  font-size: 20px;
  color: #eaeaea;
  opacity: 1;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
}

.btn-white {
  color: white;
  border: 1px solid white;
  &:hover {
        border: 1px solid orange;
    }
  margin-top: 10px;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.card-container {
  width: 100%;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}


#card-img {
  object-fit: cover;
  height: 170px;
  width: 100%;
}


.card {
  border-radius: 4px;
}

#card-img {
  object-fit: cover;
  height: 170px;
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.fas.fa-chevron-down {
  color: white;
  font-size: 50px;
  position: absolute;
  bottom: 0;
}



// .cards {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
//   grid-gap: 16px;
// }

// @media (min-width: 100px) and (max-width: 575px) {
//   .cards {
//     grid-template-columns: 1fr;
//   }
// }

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {
//   .cards {
//     grid-template-columns: 1fr;
//   }
// }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {
//   .cards {
//     grid-template-columns: 1fr 1fr;
//   }
// }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
//   .cards {
//     grid-template-columns: 1fr 1fr 1fr;
//   }
// }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
//   .cards {
//     grid-template-columns: 1fr 1fr 1fr;
//   }
// }
