<h1>Office bee</h1>


  <%= simple_form_for :search, url: offices_path, method: "get" do |f| %>
    <div class="search-form-control form-group">
      <input class="office_address form-control string required" type="text" name="search[address]" id="search_query" placeholder="Address" />
      <input class="form-control string required" type="text" name="search[date]" id="search_query1" label = "Date" placeholder="Date" />

      <button name="button" type="submit" class="btn btn-flat">
        <i class="fas fa-search"></i> Search
      </button>
    </div>
  <% end %>

