// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/home";
@import "pages/user";
@import "pages/dashboard";

body {
  background-color: #e3ebec;
}

h2 {
 margin-top: 10px;
 // font-weight: 300;
}

a {
  color: #848b92;
  // font-weight: 300;
  &:hover {
      text-decoration: none;
      color: orange;
    }
}

.map-container {
  height: 100vh;
  position: sticky;
  top: 0;
}


// ul {
//   list-style: none;
//   padding: 0;
//   margin: 0;
// }
// li {
//   display: inline-block;
// }

// h1, h3, h4{
//   font-weight: 300;
// }

// p {
//   font-weight: 300;
// }
